@model ClienteModel


<h3>Cadastrar Cliente</h3>


@{
        
    var vNome = "";
    var vCPF = "";
    var vRua = "";
    var vNumero = "";
    var vComplemento = "";
    var vBairro = "";
    var vCidade = "";
    var vUF = "";
    var vTelefone = "";
    var vCelular1 = "";
    var vEmail = "";


    try
    {
        
        vNome = @ViewBag.Registro.Nome.ToString();
        vCPF = @ViewBag.Registro.CPF.ToString();
        vRua = @ViewBag.Registro.Rua.ToString();
        vNumero = @ViewBag.Registro.Numero.ToString();
        vComplemento = @ViewBag.Registro.Complemento.ToString();
        vBairro = @ViewBag.Registro.Bairro.ToString();
        vCidade = @ViewBag.Registro.Cidade.ToString();
        vUF = @ViewBag.Registro.UF.ToString();
        vTelefone = @ViewBag.Registro.Telefone.ToString();
        vCelular1 = @ViewBag.Registro.Celular1.ToString();
        vEmail = @ViewBag.Registro.Email.ToString();
    }
    catch { }
}



<br />

<form asp-controller="Cliente" asp-action="CadastrarCliente">

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <label>Nome</label>
            <input type="text" class="form-control" asp-for="Nome" value="@vNome">
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <label>CPF</label>
            <input type="text" class="form-control" asp-for="CPF" value="@vCPF">
            <span asp-validation-for="CPF" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-6">
            <label>Rua</label>
            <input type="text" class="form-control" asp-for="Rua" value="@vRua">
            <span asp-validation-for="Rua" class="text-danger"></span>
        </div>

        <div class="col-xs-3 col-sm-2 col-md-2">
            <label>Número</label>
            <input type="text" class="form-control" asp-for="Numero" value="@vNumero">
            <span asp-validation-for="Numero" class="text-danger"></span>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">
            <label>Complemento</label>
            <input type="text" class="form-control" asp-for="Complemento" value="@vComplemento">
            <span asp-validation-for="Complemento" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-5 col-sm-6 col-md-6">
            <label>Bairro</label>
            <input type="text" class="form-control" asp-for="Bairro" value="@vBairro">
            <span asp-validation-for="Bairro" class="text-danger"></span>
        </div>

        <div class="col-xs-5 col-sm-4 col-md-4">
            <label>Cidade</label>
            <input type="text" class="form-control" asp-for="Cidade" value="@vCidade">
            <span asp-validation-for="Cidade" class="text-danger"></span>
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2">
            <label>UF</label>
            <input type="tel" class="form-control" asp-for="UF" value="@vUF">
            <span asp-validation-for="UF" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <label>Telefone</label>
            <input type="tel" class="form-control" asp-for="Telefone" value="@vTelefone">
            <span asp-validation-for="Telefone" class="text-danger"></span>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4">
            <label>Celular</label>
            <input type="tel" class="form-control" asp-for="Celular1" value="@vCelular1">
            <span asp-validation-for="Celular1" class="text-danger"></span>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4">
            <label>Email</label>
            <input type="tel" class="form-control" asp-for="Email" value="@vEmail">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div><br />
    <button type="submit" class="btn btn-block btn-success">Salvar</button>
</form>
