@model ClienteModel

@{
    ViewData["Title"] = "Index";
}

<h3>Pesquisar Cliente</h3>
<br />


@{

    var vNome = "";
    var vCPF = "";

    try
    {
        vNome = @ViewBag.Cliente.Nome.ToString();
        vCPF = @ViewBag.Cliente.CPF.ToString();
    }
    catch { }
}

<form asp-controller="Cliente" asp-action="Index">
    <div class="row">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <label for="sel">Nome</label>
            <input type="text" class="form-control" asp-for="Nome" value="@vNome">
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <label for="sel">CPF</label>
            <input type="text" class="form-control" asp-for="CPF" value="@vCPF">
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <br />
            <button type="submit" class="btn btn-block btn-primary">Pesquisar</button>
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <br />
            <button type="button" class="btn btn-block btn-success" onclick="CadastrarCliente()"><strong> + </strong>Novo</button>
        </div>
    </div>
</form>
<br />

<table class="table table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
        </tr>
    </thead>
    @{
        foreach (var item in (List<ClienteModel>)ViewBag.ListaClientes)
        {
            <tbody>
                <tb>
                    <tr>
                        <td>@item.Id.ToString()</td>
                        <td>@item.Nome.ToString()</td>
                        <td>@item.CPF.ToString()</td>
                        <td><button type="button" class="btn btn-warning btn-sm" onclick="EditarCliente(@item.Id.ToString())">Editar</button></td>
                    </tr>
                </tb>
            </tbody>
        }
    }
</table>

<script type="text/javascript" src="~/Scripts/jquery.mask.js"></script>
<script>   
    function CadastrarCliente() {
        window.location.href = "../Cliente/CadastrarCliente";
    }

    function EditarCliente(Id) {
        window.location.href = "../Cliente/CadastrarCliente/"+Id;
    }

    function Excluir(Id) {
        window.location.href = "../PlanoConta/ExcluirPlanoConta/" + Id;
    }   
</script>
